a {
  text-decoration: none;
}

.Book {
  /* background-color: steelblue; */
  margin: 0 auto;
  padding: 0;
  width: 60%;
  /* color: white; */
  border-radius: 20px;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3em;
}
#book-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
#title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* padding-right: 2em; */
}

#try {
  margin: 20px auto;
  font-size: 0.7em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  border-radius: 15px;
  width: 50%;
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

#description {
  font-size: 0.4em;
  text-align: left;
  margin-top: 1em;
}

input {
  display: none;
}
